@import url(../../styles/base.css);


.checkbox {
    --outer-size: 1.25em;
    --inner-size: 1em;
    --outer-border-width: 0.1em;
    --checked-color: var(--primary-color);
    --unchecked-color: var(--secondary-color);
}

.checkbox * {
    border-radius: 50%;
}

.checkbox .outer {
    width: var(--outer-size);
    height: var(--outer-size);
    border-width: var(--outer-border-width);
    border-style: solid;

    /**
     * This should not be in this file as it breaks modularity
     */
    margin: 20px;

}

.checkbox .inner {
    width: var(--inner-size);
    height: var(--inner-size);
    margin: auto;                                     /* center horizontally */
    transform: translateY(var(--outer-border-width)); /* center vertically */
}

.checkbox .checked .outer {
    border-color: var(--checked-color);
}

.checkbox .checked .inner {
    background: var(--checked-color);
}
.unchecked .outer {
    border-color:  var(--unchecked-color);
}